#signup-allcontent {
  text-align: center;
  margin-top: 10%;
}

#login-allcontent {
  text-align: center;
  margin-top: 20%;
}

#create-allcontent {
  text-align: center;
  margin-top: 10%;
}

.form-header {
  color: #ff7700;
  margin-bottom: 20px;
}

.function-form-group {
  text-align: left;
  margin: auto;
  margin-bottom: 10px;
  width: 20%;
}

.btn-warning {
  font-size: 20px;
  background-color: #ff7700;
  color: #fff;
  margin: 20px;
  border: none;
  width: 20%;
}
